@import "_config.scss";

body{

    font-family: Arial, Helvetica, sans-serif;
 
 }


@mixin web-background{
    background: $deck; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:2000px;
}
 


$score:3;

   h1{
    .Hud-main-text{
        font-size: 50px;

@if $score < 5 { 
            color: white;
             }
}

    }

@mixin multiple-q{
 display: flex;
 margin-bottom:20px;
 margin-left:70px;
 width:700px;
 scrollbar-width:280px ;
 border-radius:40px;
 background: blue;
 font-size: 30px;
 padding: 1px;
 float:initial;
}
@mixin choices{
    @include multiple-q;
    &:hover{
     cursor:pointer;
     box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
     transform: scale(1.02);
     transform: transform 100ms;
    
    }
    }
    
    .choice-container{
    @include choices;
    }
    
    p{
        .choice-prefix{
            color: white;
            margin-left:50px;
            margin-right:30px;
           }
    }
    
    .choice-text{
     padding: 1rem;
     width: 100%;
     color: white;
    
    }
    
    
    
    .correct{
     background: $correct;
    }
    
    .incorrect{
     background: $incorrect;
    }
    
    p{
     text-align: center;
     color: white;
    }
    
    div{
        .question{
     font-size:50px; 
     background-color:blue;
     color: white; 
     display: block; 
     margin-left:10px;
     margin-right: 10px; 
     margin-top: 10px; 
     padding-top: 2px;
     width: 40%;text-align: 
     center; border-radius: 5px;
    
    }
    }
    
    
    
    
    /* Heads up Display */
    #hud{
     display:flex;
     justify-content: space-between;
     margin: 20px;
    
    }
    
    /*.hud-item-2{
     background-color: blue;
     border-radius: 10px;
     margin-right: 20px;
     padding-right:10px;
     padding-left: 10px;
    }*/
    
    
    /*/////////////////////////////////////*/
    /*incorrect-and-correct-conditions*/
    
    
    
    div{
        .hud-prefix{
            text-align:center;
            font-size: 30px;
            background-color: blue;
            border-radius: 10px;
            margin-right: 20px;
            padding-right:10px;
            padding-left: 10px;
        }
    
                 }


                 #progressBar{
                    width: 20rem;
                    height: 3rem;
                    border: 0.2rem solid green;
                    margin-top: 2rem;
                    border-radius: 50px;
                    overflow: hidden;
                    background-color: white;
                   
                   }
                   
                   
                   #progressBarFull{
                    height: 100%;
                    background: green;
                    width:0%
                   }
                   
                   .column {
                    float: left;
                    width: 50%;
                   }
                   
                   .row:after {
                    content: "";
                    display: table;
                    clear: both;
                   }
                   
                   .pirate{
                    margin-left: 50px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    width: 400px;
                   
                   }
                   
                   .treasure{
                    margin-left: 20px;
                    margin-top: 40px;
                   
                   }
                   
                   .restart{
                    padding-bottom: 1rem;
                    font-size: 50px;
                    color: white;
                    background-color: purple;
                    border-radius: 10px;
                    margin-left: 500px;
                    margin-top: 30px;
                    }
                   
                    .restart{
                       &:hover{
                        background-color:black;
                       }
                        }
                   
                    .return{
                        padding-bottom: 1rem;
                        font-size: 50px;
                        color: white;
                        background-color: green;
                        border-radius: 10px;
                        margin-left: 0px;
                        margin-top: 30px;
                        }
                   
                        .return{
                           &:hover{
                            background-color:black;
                           }
                            }

                
                   
/*SCSS-flow*/                  
                   


/*$text:6;

body{
@if$text< 5 { 
            color: white;
             }
}*/