@import "_config.scss";

body{

    font-family: Arial, Helvetica, sans-serif;
 
 }

 html { 
     background: $deck; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size:2000px;
   }

 
.choice-container{
 display: flex;
 margin-bottom:20px;
 margin-left:70px;
 width:700px;
 scrollbar-width:280px ;
 border-radius:40px;
 background: blue;
 font-size: 30px;
 padding: 1px;
 float:initial;
}

.choice-container:hover{
 cursor:pointer;
 box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
 transform: scale(1.02);
 transform: transform 100ms;

}

p{
    choice-prefix{
        color: white;
        margin-left:50px;
       }
}

.choice-text{
 padding: 1rem;
 width: 100%;
 color: white;

}

.correct{
 background: $correct;
}

.incorrect{
 background: $incorrect;
}

p{
 text-align: center;
 color: white;
}

.question{
 font-size:50px; 
 background-color:blue;
 color: white; 
 display: block; 
 margin-left:10px;
 margin-right: 10px; 
 margin-top: 10px; 
 padding-top: 2px;
 width: 40%;text-align: 
 center; border-radius: 5px;

}




/* Heads up Display */
#hud{
 display:flex;
 justify-content: space-between;
 margin: 20px;

}

.hud-item-2{
 background-color: blue;
 border-radius: 10px;
 margin-right: 20px;
 padding-right:10px;
 padding-left: 10px;
}


.hud-prefix{
 text-align:center;
 font-size: 30px;
 background-color: blue;
}

.hud-main-text{
 text-align: center;
 font-size: 40px;
 color: white;
 background-color: blue;
}

#progressBar{
 width: 20rem;
 height: 3rem;
 border: 0.2rem solid green;
 margin-top: 2rem;
 border-radius: 50px;
 overflow: hidden;
 background-color: white;

}

#progressBarFull{
 height: 100%;
 background: green;
 width:0%
}

.column {
 float: left;
 width: 50%;
}

.row:after {
 content: "";
 display: table;
 clear: both;
}

.pirate{
 margin-left: 50px;
 margin-top: 20px;
 margin-bottom: 20px;
 width: 400px;

}

.treasure{
 margin-left: 20px;
 margin-top: 40px;

}

.restart{
 padding-bottom: 1rem;
 font-size: 50px;
 color: white;
 background-color: purple;
 border-radius: 10px;
 margin-left: 500px;
 margin-top: 30px;
 }

 .restart:hover{
     background-color:black;
     }

 .return{
     padding-bottom: 1rem;
     font-size: 50px;
     color: white;
     background-color: green;
     border-radius: 10px;
     margin-left: 0px;
     margin-top: 30px;
     }

     .return:hover{
         background-color:black;
         }

h2{
 font-size: 30px;
 margin-top: 30px;
 margin-left: 20px;
 background-color: red;
 color: white;
}










@media screen and (max-width: 782px) {
 .choice-container{
     width: 500px;
 }
 h1{
     margin-top: 50px;
     font-size: 30px;
 }
}

@media screen and (max-width: 1997px){

 img{
     width: 300px;
 }
 .choice-container{
     margin-top: 0px;
 }

 h1{
     margin-top: 50px;
     
 }

}
