@import "button_config";
@import "_config";
@import "game";



@function adjust_margin($n) {
    @return $n * $margin-l + ($n - 1) * $margin-r;
    @warn "Please remember to use px values in the `adjust_margin()` function.";
 }
 
 @function weight($weight-name){
    @return map-get($font-weights , $weight-name)
  }

html { 
    background:$island;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family:$font-stack;
  }


.main-menu{
    h1{
font-family:$display;
text-align: center;
font-size: 85px;
margin-bottom: adjust_width(100);
margin-top: 120px;
margin-left:100px;
}
}


.center-h {
    display: flex; /* or display:grid */
    justify-content: center;
  }


  .center-v {
    display: flex;
    align-items: center;
  }


  .h-500 {
    height: 700;
  }


img{
    display: flex;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .button{
        min-width: 10px;
        font-size: 90px;
    }

    .input{
        min-width: 20rem;
    }

    .body{
        min-width: 20rem;
    }
    h1{
        font-size: 90px;
    }
}
